<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Mega</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Arduino Mega</h1>

    <figure>
        <img src="../static/img/mega.png" alt="Arduino Mega Görseli" class="devre-resim">
        <figcaption>UNO’dan daha fazla pin ve hafıza</figcaption>
    </figure>
    
    <h2>Nedir?</h2>
    <p>Arduino Mega, çok pinli ve geniş hafızalı bir karttır. Büyük projeler ve çok sayıda sensör ile çalışmak için idealdir.</p>
    <div class="not">
        💡 <strong>Not:</strong> Atmega2560 mikrodenetleyici kullanır ve geniş kütüphane desteği vardır.
    </div>

    <h3>Kullanım Alanları</h3>
    <ul>
        <li>Büyük Arduino projeleri</li>
        <li>Robotik ve otomasyon sistemleri</li>
        <li>Çok sensörlü devreler</li>
    </ul>

    <button type="button" onclick="window.location.href='{{ url_for('devre_elemanlari') }}'">Geri Dön</button>
</body>
</html>
