<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elektrolitik Kondansatör</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Elektrolitik Kondansatör</h1>

    <figure>
        <img src="../static/img/elektrolitik _kondanstr.png" alt="Elektrolitik Kondansatör Görseli" class="devre-resim">
        <figcaption>Yüksek kapasiteli polariteli kondansatör</figcaption>
    </figure>
    
    <h2>Nedir?</h2>
    <p>Elektrolitik kondansatörler yüksek kapasiteli ve polariteli devre elemanlarıdır. Genellikle güç filtrelemede kullanılır.</p>
    <div class="not">
        💡 <strong>Not:</strong> Doğru kutuplama yapılmazsa zarar görebilir veya patlayabilir.
    </div>

    <h3>Kullanım Alanları</h3>
    <ul>
        <li>Güç kaynağı filtrelemesi</li>
        <li>Gerilim yumuşatma</li>
        <li>Zamanlama devreleri</li>
    </ul>

    <button type="button" onclick="window.location.href='{{ url_for('devre_elemanlari') }}'">Geri Dön</button>
</body>
</html>