<!DOCTYPE html>
<html>
  <head>
    <title>Hakkında</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Hoşgeldiniz!!</h1>
    <p>Bu site sayesinde Devreler elemanları hakkında yeterince bilgiye sahip olacaksınız 😎</p>
    <h2>Özellikler:</h2>
    <ul>
        <li>Site, Python, Html, Css ile geliştirildi.</li>
        <li>Sitenin devre tanıma bölümü, 30 sınıftan oluşan ve Google Teachable Machine ile eğitilen bir görsel makine ile eğitildi.</li>
        <li>Site sizin devre elemanı arayarak onun özelliklerini, bağlantılarını ve varsa pin ve portlarını anlatma şansı sunuyor.</li>
        <li>Sitede Kayıt oluşturup ardından diğer kullanıcılarla sohbet edip sorularınızı onlarada sorabilirsiniz</li>
        <li>Ayrıca sitede kendi notlarınızı kaydedebilirsinz!</li>
        <li>Site GNU General Public License v3.0 ile lisanslanmıştır </li>
    </ul>
    <button type="button" onclick="window.location.href='{{ url_for('home') }}'">Ana Sayfaya dön</button>
  </body>
</html>