<!DOCTYPE html>
<html>
  <head>
    <title>HTML DEVRE TANIMLAYICI!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Hoşgeldiniz!!</h1>
    <p>Bu site sayesinde Devreler elemanları hakkında yeterince bilgiye sahip olacaksınız 😎</p>
    <div style="margin-top: 15px;">
      <button type="button" onclick="window.location.href='{{ url_for('card') }}'">Devre Tanımlama (Henüz bitmedi)</button>
      <button type="button" onclick="window.location.href='{{ url_for('card') }}'">Devre Elemanları(Henüz bitmedi)</button>
      <button type="button" onclick="window.location.href='{{ url_for('card') }}'">Sohbet(Henüz bitmedi)</button>
      <button type="button" onclick="window.location.href='{{ url_for('card') }}'">Not Defteri(Henüz bitmedi)</button>
      <button type="button" onclick="window.location.href='{{ url_for('hakkinda') }}'">Hakkında</button>
    
  </body>
</html>
