<!DOCTYPE html>
<html>
  <head>
    <title>HTML DEVRE TANIMLAYICI!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <ul class="main-list">
      <li class="list__item">
        <a href="/login">
          <img src="../static/img/login.svg" alt="login" width="20" height="20">
        </a>
      </li>
    </ul>
    <img src="../static/img/arduino_logo.png" class="logo" width="150" height="150">
    <h1>Hoşgeldiniz!!</h1>
    <p>Bu site sayesinde Devreler elemanları hakkında yeterince bilgiye sahip olacaksınız 😎</p>
    <div style="margin-top: 15px;">
      <button type="button" onclick="window.location.href='{{ url_for('deneme') }}'">Devre Tanımlama (Henüz bitmedi)</button>
      <button type="button" onclick="window.location.href='{{ url_for('deneme') }}'">Devre Elemanları(Henüz bitmedi)</button>
      <button type="button" onclick="window.location.href='{{ url_for('deneme') }}'">Sohbet(Henüz bitmedi)</button>
      <button type="button" onclick="window.location.href='{{ url_for('not_defteri2') }}'">Not Defteri</button>
      <button type="button" onclick="window.location.href='{{ url_for('hakkinda') }}'">Hakkında</button>
      <button onclick="if(confirm('Oturumu kapatmak istediğinize emin misiniz?')) { window.location.href = '/logout'; }">Çıkış Yap</button>

  </body>
</html>
